.site-nav {
  margin-bottom: 2rem;

  // TODO: Could be a utility class? Better to be a mixin, if needed.
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.site-nav__link {
  @include link-reset($color: $fg-color-dark);

  background-color: $color;
  border-bottom: none;
  border-radius: 4px;
  font-size: 1.5rem;
  margin: 2rem 2rem 0 0;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 9rem;
  
  @include media-lg() {
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
  }

  &.active,
  &.active:hover {
    background-color: $bg-color-secondary-light;
    color: $fg-color-dark;
  }

  &:hover {
    background-color: lighten($color, 7%);
  }
}
