.site-footer {
  background-color: $bg-color-secondary-light;
  // TODO: Make this a color var
  border-top: 1px solid #e1e1e1;
  color: $fg-color-secondary-light;
  padding: 3rem 0;

  a {
    @include link-reset($color: $fg-color-secondary-light);

    &:focus,
    &:hover {
      color: darken($fg-color-secondary-light, 20%)
    }
  }

  &__description {
    order: 1;

    @include media-lg() {
      order: 0;
    }
  }

  &__social-menu {
    list-style: none;
    margin: 0;
    order: 0;
    padding: 0;

    @include media-lg() {
      order: 1;
    }
  }

  &__social-menu-item {
    margin: 0 0 1.3rem;
  }
}
