.intro {
  margin-bottom: $section-bottom-margin;
}

.intro__photo {
  border: 4px solid $color-primary;
  border-radius: 50%;
  float: right;
  height: 7.2rem;
  width: 7.2rem;

  @include media-lg() {
    height: 10rem;
    width: 10rem;
  }
}
