.site-footer {
  background-color: $bg-color-secondary;
  color: $fg-color-secondary;
  padding: 3rem 0;

  #{$dark-mode-selector} & {
    background-color: $bg-color-secondary-dark-mode;
  }

  a {
    @include link-reset(
      $color: $fg-color-secondary,
      $hover-color: darken($fg-color-secondary, 20%)
    );

    border-bottom: none;

    #{$dark-mode-selector} & {
      @include link-reset(
        $color: $fg-color-secondary,
        $hover-color: darken($fg-color-secondary, 20%)
      );
    }
  }

  .social-menu {
    order: 0;

    @include media-lg() {
      order: 1;
    }
  }
}

.site-footer__connect {
  margin: 0 auto;
}

.site-footer__description {
  order: 1;

  @include media-lg() {
    order: 0;
  }
}

.site-footer__social-menu {
  @include list-style-reset();
  @include media-lg() {
    order: 1;
  }

  order: 0;
}

.site-footer__social-menu-item {
  font-size: 2rem;
  margin-right: 2rem;
}
