.site-nav {
  margin-bottom: 2rem;
}

.site-nav__item {
  margin: 2rem 1rem 0;

  @include media-lg () {
    &:first-of-type {
      margin-left: 0;
    }
  }
}

.site-nav__link {
  @include link-reset($color: $nav-item-color, $hover-color: $nav-item-color);

  background-color: $nav-item-bg-color;
  border-bottom: none;
  border-radius: $border-radius;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 9rem;

  @include media-lg() {
    padding-left: 2rem;
    padding-right: 2rem;
    width: auto;
  }

  &:hover {
    background-color: $nav-item-bg-color-hover;
  }

  #{$dark-mode-selector} & {
    @include link-reset($color: $nav-item-color, $hover-color: $nav-item-color);
  }

  &--active,
  &--active:hover {
    @include link-reset(
      $color: $nav-item-color-active,
      $hover-color: $nav-item-color-active
    );

    background-color: $nav-item-bg-color-active;
    color: $nav-item-color-active;

    #{$dark-mode-selector} & {
      @include link-reset(
        $color: $nav-item-color-active,
        $hover-color: $nav-item-color-active
      );

      background-color: $nav-item-bg-color-active-dark-mode;
    }
  }
}

.site-nav__menu {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  @include list-style-reset();
  @include media-lg() {
    justify-content: flex-start;
  }
}
