.color-fg {
  color: $fg-color-light;

  #{$html-color-mode-dark} & {
    color: $fg-color-dark;
  }
}

.color-primary {
  color: $color;
}

.color-secondary {
  color: $color-secondary;
}

.color-tertiary {
  color: $color-tertiary;
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide-sm {
  @include media-sm() {
    display: none;
  }
}

.screen-reader-only {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

.upcase {
  text-transform: uppercase;
}
