.color-fg {
  color: $fg-color-light;
}

.color-primary {
  color: $color;
}

.color-secondary {
  color: $color-secondary;
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hide-sm {
  @include media-sm() {
    display: none;
  }
}

.upcase {
  text-transform: uppercase;
}
