// Breakpoints

@mixin media-sm() {
  @media not all and (min-width: $breakpoint-lg) {
    @content;
  }
}

@mixin media-lg() {
  @media (min-width: $breakpoint-lg) {
    @content;
  }
}

// Links

@mixin link-reset($color, $text-decoration: null) {
  &:active,
  &:focus,
  &:link,
  &:visited  {
    color: $color;

    @if $text-decoration {
      text-decoration: $text-decoration;
    }
  }
}

// Typography

@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
