a {
  @include link-reset($color: $link-color, $hover-color: $link-color-hover);

  border-bottom-style: solid;
  border-bottom-width: 4px;
  display: inline-block;
  text-decoration: none;

  #{$dark-mode-selector} & {
    @include link-reset(
      $color: $link-color-dark-mode,
      $hover-color: $link-color-hover-dark-mode
    );
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  margin: 0;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 4.2rem;

  @include media-lg() {
    font-size: 6.4rem;
  }
}

h2 {
  font-size: 2.8rem;

  @include media-lg() {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.4rem;

  @include media-lg() {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 2.2rem;

  @include media-lg() {
    font-size: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.9rem;
}

hr {
  border-top: 1px solid $divider-color;
}

p {
  line-height: 2.5rem;
  margin: 0 0 $paragraph-bottom-margin;

  @include media-lg() {
    line-height: 3rem;
  }

  a {
    line-height: 2rem;
  }
}

.subheading {
  margin-bottom: $paragraph-bottom-margin;
}

.subtitle {
  font-size: 1.9rem;
}
