a {
  @include link-reset($color: darken($color, 16%), $text-decoration: none);

  border-bottom: 4px solid $color;
  display: inline-block;

  &:hover {
    border-bottom-color: darken($color, 32%);
    color: darken($color, 32%);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  margin: 0;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-size: 4.2rem;

  @include media-lg() {
    font-size: 6.4rem;
  }
}

h2 {
  font-size: 2.8rem;

  @include media-lg() {
    font-size: 3.2rem;
  }
}

h3 {
  font-size: 2.4rem;

  @include media-lg() {
    font-size: 2.8rem;
  }
}

h4 {
  font-size: 2.2rem;

  @include media-lg() {
    font-size: 2.4rem;
  }
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.9rem;
}

hr {
  border-top: 1px solid $divider-color;
}

p {
  line-height: 2.5rem;
  margin: 0 0 1.3rem;

  @include media-lg() {
    line-height: 3rem;
  }

  a {
    line-height: 2rem;
  }
}

.subheading {
  margin-bottom: 1.3rem;
}

.subtitle {
  font-size: 1.9rem;
}
