// Colors - https://colors.muz.li/palette/8e7cc3/5e5e88/9a7cc3/7ca5c3/577388

$bg-color-light: #f1f1f1;
$bg-color-secondary-light: #212121;

$color: #8e7cc3;
$color-secondary: #7ca5c3;
$color-tertiary: #577388;

$fg-color-dark: #fff;
$fg-color-light: #212121;
$fg-color-secondary-light: #d1d1d1;
